# PositionedSound
public net.minecraft.client.audio.PositionedSound field_147662_b # volume

# SoundRegistry
public net.minecraft.client.audio.SoundRegistry field_148764_a # soundRegistry

# SoundHandler
public net.minecraft.client.audio.SoundHandler field_147697_e # soundRgstry

# FallbackResourceManager
public net.minecraft.client.resources.FallbackResourceManager func_110537_b(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/util/ResourceLocation; # getLocationMcmeta
public net.minecraft.client.resources.FallbackResourceManager field_110540_a # resourcePacks
public net.minecraft.client.resources.FallbackResourceManager field_110539_b # frmMetadataSerializer

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74516_a # keybindArray

# EntityArrow
public net.minecraft.entity.projectile.EntityArrow field_70254_i # inGround

# ServerList
public net.minecraft.client.multiplayer.ServerList field_78858_b # servers

# Minecraft
public net.minecraft.client.Minecraft field_71431_Q # fullscren
public net.minecraft.client.Minecraft field_71435_Y # tempDisplayHeight
public net.minecraft.client.Minecraft field_71436_X # tempDisplayWidth
public net.minecraft.client.Minecraft func_147119_ah()V #updateFrameBuffer

# ScreenShotHelper
public net.minecraft.util.ScreenShotHelper field_74294_c # pixelValues

# NetworkPlayerInfo
public net.minecraft.client.network.NetworkPlayerInfo field_178865_e # locationSkin
public net.minecraft.client.network.NetworkPlayerInfo field_178863_g # skinType

# GuiMainMenu
public net.minecraft.client.gui.GuiMainMenu field_175372_K # realmsButton

# TexturedQuad
public net.minecraft.client.model.TexturedQuad field_78238_c # invertNormal

# WorldRenderer
public net.minecraft.client.renderer.WorldRenderer field_179010_r # isDrawing

# FontRenderer
public net.minecraft.client.gui.FontRenderer field_78295_j # posX
public net.minecraft.client.gui.FontRenderer field_78296_k # posY

public net.minecraft.client.gui.FontRenderer field_78291_n # red
public net.minecraft.client.gui.FontRenderer field_78306_p # green
public net.minecraft.client.gui.FontRenderer field_78292_o # blue
public net.minecraft.client.gui.FontRenderer field_78305_q # alpha

public net.minecraft.client.gui.FontRenderer field_78285_g # colorCode
public net.minecraft.client.gui.FontRenderer field_78304_r # textColor
public net.minecraft.client.gui.FontRenderer field_78293_l # unicodeFlag
public net.minecraft.client.gui.FontRenderer field_78287_e # glyphWidth

public net.minecraft.client.gui.FontRenderer field_78299_w # strikethroughStyle
public net.minecraft.client.gui.FontRenderer field_78300_v # underlineStyle
public net.minecraft.client.gui.FontRenderer field_78301_u # italicStyle
public net.minecraft.client.gui.FontRenderer field_78303_s # randomStyle
public net.minecraft.client.gui.FontRenderer field_78302_t # boldStyle

public net.minecraft.client.gui.FontRenderer field_111274_c #unicodePageLocations
public net.minecraft.client.gui.FontRenderer field_111273_g #locationFontTexture
public net.minecraft.client.gui.FontRenderer field_78298_i # renderEngine

# GlStateManager
public net.minecraft.client.renderer.GlStateManager field_179170_t # colorState
public net.minecraft.client.renderer.GlStateManager field_179174_p # textureState
public net.minecraft.client.renderer.GlStateManager field_179162_o # activeTextureUnit

# GlStateManager$Color
public net.minecraft.client.renderer.GlStateManager$Color
public net.minecraft.client.renderer.GlStateManager$Color field_179195_a # red
public net.minecraft.client.renderer.GlStateManager$Color field_179193_b # green
public net.minecraft.client.renderer.GlStateManager$Color field_179194_c # blue
public net.minecraft.client.renderer.GlStateManager$Color field_179192_d # alpha

# GlStateManager$TextureState
public net.minecraft.client.renderer.GlStateManager$TextureState
public net.minecraft.client.renderer.GlStateManager$TextureState field_179059_b # textureName

# ModelBakery
public net.minecraft.client.resources.model.ModelBakery field_177602_b # LOCATIONS_BUILTIN_TEXTURES
public net.minecraft.client.resources.model.ModelBakery field_177604_a # MODEL_MISSING
public net.minecraft.client.resources.model.ModelBakery field_177609_j # textureMap
public net.minecraft.client.resources.model.ModelBakery field_177598_f # resourceManager
public net.minecraft.client.resources.model.ModelBakery field_177605_n # bakedRegistry

# Block
public net.minecraft.block.Block field_149756_F # maxY

#Chat
public net.minecraft.util.ChatStyle field_150251_h # chatHoverEvent
public net.minecraft.util.ChatStyle field_150252_i # chatHoverEvent
public net.minecraft.util.ChatStyle func_150224_n()Lnet/minecraft/util/ChatStyle; # chatHoverEvent
